:root {
    --main-bg-color: #000000;
    --main-text-color: #ffffff;
    --accent-color: #4caf50;
}

/* Apply CSS variables */
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Arial", sans-serif;
}

.content p {
    padding: 20px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

.themed-text {
    background-color: var(--main-text-color);
    color: var(--accent-color);
}

/* Hover example to demonstrate changing on interaction */
.content p:hover {
    background-color: var(--main-text-color);
    color: var(--accent-color);
    transition-property: background-color, width; /* Define which properties will transition */
    transition-duration: 125ms; /* Time the transition will take */
    transition-delay: 0.5s; /* Delay before transition begins */
    transition-timing-function: ease-in-out;
}